.container {
  width: 100%;
  height: 100vh;
  background: url("../media/desktop_bg_grid.jpg") no-repeat center center fixed;
  background-size: cover;
  object-fit: contain;
}
.hero {
  padding: 50px 50px 20px 50px;
  max-width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .hero-alt {
    width: 100%;
    height: 100%;
    background: url("../media/desktop_hero_alt_cover.svg") center center
      no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
  }
}
.footer {
  max-width: 100%;
  height: calc(100% - 80%);
  background: url("../media/desktop_footer_alt.svg") bottom left no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "coming-soon subscribe"
    "coming-soon social";
  padding: 0 70px 0 70px;
  h2 {
    grid-area: coming-soon;
    padding-bottom: 55px;
    align-self: end;
    color: white;
    font-size: 48px;
    font-weight: 700;
  }
  .subscribe-container {
    grid-area: subscribe;
    align-self: flex-end;
    background: url("../media/subscribe_bg_l.svg") center center no-repeat;
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-self: start;
    background-size: 100% 100%;
    width: 600px;
    height: 58px;
    input {
      width: 352px;
      height: 100%;
      position: relative;
      left: 15px;
      bottom: 3px;
    }
    button {
      width: 220px;
      height: 100%;
      background: none;
      cursor: pointer;
      position: relative;
      left: 15px;
      bottom: 3px;
    }
  }
  .social {
    grid-area: social;
    justify-self: end;
    align-self: start;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    & > a {
      width: 50px;
      height: 50px;
    }
  }
}
@media only screen and (max-width: 1130px) {
  .footer {
    background: url("../media/mobile_footer_alt.svg") left bottom no-repeat;
    h2 {
      font-size: 38px;
    }
    .subscribe-container {
      width: 382px;
      height: 48px;
      background-image: url("../media/subscribe_bg_m.svg");
      input {
        font-size: 18px;
        width: 233px;
        height: 100%;
        bottom: 0;
        left: 3;
      }
      button {
        font-size: 18px;
        width: 132px;
        height: 100%;
        bottom: 0;
        left: 3;
      }
    }
  }
}
@media only screen and (max-width: 820px) {
  .container {
    background: url("../media/mobile_bg_grid.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .hero {
    padding: 50px 30px 30px 30px;
    height: 70%;
    .hero-alt {
      background-image: url("../media/mobile_hero_alt_cover.svg");
    }
  }
  .footer {
    height: calc(100% - 70%);
    padding: 0;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "social"
      "subscribe"
      "coming-soon";
    align-items: center;
    justify-content: center;
    background: url("../media/mobile_footer_alt.svg") right bottom no-repeat;
    gap: 10px;
    .subscribe-container {
      justify-self: center;
    }
    .social {
      justify-self: center;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 7vw;
      & > img {
        width: 50px;
        height: 50px;
      }
    }

    h2 {
      padding: 0 30px 55px 0;
      justify-self: end;
      font-size: 30px;
    }
  }
}
